@require '../../../../node_modules/vue-slider-component/theme/default.css'
@require '../../../../node_modules/vue-cosk/dist-ssr/vue-cosk.css'
@require '../../../../node_modules/vue-flux/dist-ssr/vue-flux.css'

.demo
	label
		display flex
		margin-bottom 32px

		span
			margin-right 10px

		div, input
			flex 1 1 auto
			align-self flex-end

	label.checkbox
		min-width 150px
		cursor pointer

		input
			flex 0 0
			margin-right 9px

.demo .vue-slider-dot-tooltip-text
	margin-right 1px
